

.navbar-collapse{
    justify-content:flex-end;
    
}


/* navigation bar */
.navbar-collapse .nav-item .nav-link{
    margin-right:50px;
    color: blue;
}


/* navigation bar hover */
.navbar-collapse .nav-item .nav-link:hover{
    color: rgb(165, 42, 42);
    transition: 0.2s;
}

.intro{
    padding-top: 100px;
    padding-left: 40px;

}


/* profile picture */
.row img{
    width: 100%;
    height: auto;
}

/* bio */

.bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;

    
}
