@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,400;1,500&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding:0 80px;
    margin: auto;
}

/*navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: blueviolet;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.navbar.logo a{
    color: #fff;
    font-size:35px;
    font-weight: 600;
}

.navbar.menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

/* home section styling */
.home{
    display: flex;
    background: url("./images/banner.png") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
